{
    "name" : "{{ potos_gnome_shortcuts_extention_name }}",
    "description" : "{{ potos_gnome_shortcuts_extention_description }}",
    "shell-version" : [
        "3.36"
    ],
    "url" : "",
    "uuid" : "{{ potos_gnome_shortcuts_extention_uuid }}",
    "version" : 1.0
}
